.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  height: 100%;
  padding-top: 150px;
}

.desc {
  text-align: center;
  max-width: 450px;
  & span {
    font-size: 28px;
    text-transform: uppercase;
  }
  & p {
    font-size: 18px;
    color: #d0d6f9;
  }
}

.home button {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  color: #0b0d17;
  background-color: #fff;
  font-family: "Bellefair", serif;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.4s all;

  &:hover {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.5);
  }
}

@media only screen and (max-width: 1024px) {
  .home {
    padding-top: 100px;
    grid-template-columns: none;
    gap: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .home {
    padding-top: 50px;
  }
  .desc {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    & span {
      font-size: 16px;
    }
    & p {
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }
  .home button {
    font-size: 20px;
    width: 150px;
    height: 150px;
    &:hover {
      box-shadow: none;
    }
  }
}
